<mat-toolbar color="primary">
    <span>My App</span>
    <span class="header-buttons">
        <a mat-button routerLink="">Home</a>
        <a mat-button routerLink="counter">Counter</a>
        <a mat-button routerLink="blog">Blog</a>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>